@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

.card{
    width: 22% !important;
    display: inline-block !important;
    /* border: 2px solid black; */
    margin: 30px 25px 0 25px !important;
    font-family: 'Roboto', sans-serif;
}

.cardImage {
    text-align: center !important;
    width: 50% !important;
    margin-left: 20% !important;
    /* border: 2px solid red !important; */
}

.cardHead {
    text-align: left !important;
    font-weight: 500 !important;
}

.cardDescrip {
    text-align: justify, left;
    margin-left: 8% !important;
    width: 92% !important;
    /* height: 60px !important; */
    position: relative;
    bottom: -60px !important;
    opacity: 0;
    font-weight: 300;
    font-size: 20px !important;
}

.card:hover .cardDescrip {
    bottom: 20px !important;
    opacity: 1;
    right: 31px !important;
    transition: ease 2.3s;
}

.cardPrice{
    text-align: justify, left;
    margin-left: 8% !important;
    width: 92% !important;
    /* height: 60px !important; */
    position: relative;
    left: -60px !important;
    opacity: 0;
}

.card:hover .cardPrice {
    left: -30px !important;
    opacity: 1;
    transition: ease 3s;
}

@media only screen and (max-width: 1499px) {
    .cardImage {
        text-align: center !important;
        width: 50% !important;
        /* margin-left: 20% !important; */
        /* border: 2px solid red !important; */
    }

    .card{
        width: 100% !important;
        display: inline-block !important;
        /* border: 2px solid black; */
        margin: 0 0 0 -5px !important;
    }

    .cardDescrip {
        text-align: justify;
        margin-left: 8% !important;
        width: 92% !important;
        font-weight: 300;
        font-size: 20px !important;
    }
    
}